In [82]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
import numpy as np
# Import the API key.
from config import g_key

In [83]:
gmaps.configure(api_key=g_key)

In [84]:
# Store the CSV you saved created in part two into a DataFrame.
city_data_df = pd.read_csv("weather_data/vacation_challenge.csv")
city_data_df.head()
city_data_df.reset_index(drop=True, inplace=True)

In [85]:
# Filter for US locations near each other
my_locations_1_df = city_data_df.loc[city_data_df["City"]=="Palmer"].copy()
my_locations_2_df = city_data_df.loc[city_data_df["City"]=="Bethel"].copy()
my_locations_3_df = city_data_df.loc[city_data_df["City"]=="Westport"].copy()
my_locations_4_df = city_data_df.loc[city_data_df["City"]=="West Milford"].copy()

In [86]:
# Latitude-longitude pairs
my_locations_1_coord=(my_locations_1_df['Lat'].max(), my_locations_1_df['Lng'].max())
my_locations_2_coord=(my_locations_2_df['Lat'].max(), my_locations_2_df['Lng'].max())
my_locations_3_coord=(my_locations_3_df['Lat'].max(), my_locations_3_df['Lng'].max())
my_locations_4_coord=(my_locations_4_df['Lat'].max(), my_locations_4_df['Lng'].max())

In [87]:
all_locations = city_data_df[(city_data_df["City"]=="Palmer") | (city_data_df["City"]=="Bethel")  | (city_data_df["City"]=="Westport") | (city_data_df["City"]=="West Milford")].copy()
all_locations.reset_index(drop=True, inplace=True)
all_locations

#city_with_rain_snow = city_data_df[(city_data_df["Rain inches (last 3 hrs)"] > 0) | (city_data_df["Snow inches (last 3 hrs)"] > 0)]
#city_with_rain_snow.count()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,167,Bethel,US,53.60,Clouds,41.37,-73.41,Courtyard by Marriott Danbury
1,366,Palmer,US,62.60,Clouds,42.16,-72.33,Wedgewood Motel
2,463,West Milford,US,55.99,Clouds,41.13,-74.37,The Little Bear Inn - Bed and Breakfast
3,474,Westport,US,51.80,Clouds,41.14,-73.36,The Westport Inn

In [88]:
all_locations_coordinates = all_locations[["City", "Lat", "Lng"]]
all_locations_coordinates

           City    Lat    Lng
0        Bethel  41.37 -73.41
1        Palmer  42.16 -72.33
2  West Milford  41.13 -74.37
3      Westport  41.14 -73.36

In [89]:
# Latitude-longitude pairs
Bethel = (41.37, -73.41)
Palmer = (42.16, -72.33)
West_Milford = (41.13, -74.37)
Westport = (41.14, -73.36)

In [90]:
fig = gmaps.figure()
directions = gmaps.directions_layer(
        Bethel, Palmer, waypoints=[Westport, West_Milford],
        travel_mode='DRIVING')
fig.add_layer(directions)

fig

Figure(layout=FigureLayout(height='420px'))

In [91]:
all_locations

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,167,Bethel,US,53.60,Clouds,41.37,-73.41,Courtyard by Marriott Danbury
1,366,Palmer,US,62.60,Clouds,42.16,-72.33,Wedgewood Motel
2,463,West Milford,US,55.99,Clouds,41.13,-74.37,The Little Bear Inn - Bed and Breakfast
3,474,Westport,US,51.80,Clouds,41.14,-73.36,The Westport Inn

In [106]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

In [107]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in all_locations.iterrows()]

In [108]:
# Add a map of the locations
locations = all_locations[["Lat", "Lng"]]
max_temp = all_locations["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))